@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
body{
    font-family: 'Noto Sans KR';
}

:root{
    --primary-color:#f3f0f1;
}

hr{
    margin: 2rem 0rem;
}


  /**  container  **/
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.container-center{
    max-width: 600px;
    margin: auto;

}


  /**  links  **/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: rgb(130, 174, 185);
    border-radius: 0.3rem;
    border:1px solid var(--primary-color)
}

.primary-link{
    color:var(--primary-color);
}
.secondary-link{
    color:var(--primary-color);
}

  /**  lists  **/

.list.non-bullet{
    list-style: none;
}

.list-item-inline{
    display:inline;
    padding: 0rem 0.5rem;
}


  /**navigation**/

.navigation{
    background-color: rgb(246, 247, 248);
    color: rgb(17, 2, 17);
}  

.navigation.link{
    color:chocolate;
}


































body{
    color:blueviolet;
}

h1{
    color:brown;
}

h2{
    color:darkblue;
}

#lib-title{
    color:rgb(8, 1, 7);
}


