@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans KR';
}

:root {
    --primary-color: #f3f0f1;
}

hr {
    margin: 2rem 0rem;
}


/**  container  **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;

}

.container-center {
    max-width: 600px;
    margin: auto;

}


/**  links  **/
.link {
    text-decoration: underline;
    padding: 0.5rem 1rem;
    color: rgb(236, 235, 243);
    box-sizing: border-box;
    /* margin-top:1rem;
    margin-bottom: 1rem; */

}

.primary-link {
    color: var(--primary-color);
    background-color: rgb(3, 62, 77);
    border-radius: 0.3rem;
    border: 1px solid var(--primary-color)
}

.secondary-link {
    color: cornflowerblue;
    border-radius: 0.3rem;
    border: 1px solid var(--primary-color)
}

/**  lists  **/

.list.non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}


/**navigation**/

.navigation {
    background-color: mediumslateblue;
    color: rgb(17, 2, 17);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation .link {
    color: rgb(240, 237, 236);
    background-color: rgb(3, 62, 77);
    border-radius: 0.3rem;
    border: 1px solid var(--primary-color)
}

.navigation .nav-pills {
    text-align: right;

}

.navigation .link-active {
    font-weight: bold;
}

/**header**/

.hero {
    padding: 2rem;

}

.hero .hero-img {
    min-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding: 1rem;
    color: #041f53;
    text-align: center;
}

.hero .hero-heading .heading-inverted {
    color: brown;
}


/** sections **/

.section h1 {
    text-align: center;
}

.ow {
    background-color: #F3F4F6;
}

.section {
    padding: 2rem;
}

/**  footers  **/

.social-links.non-bullet {
    list-style: none;
}

.footer {
    padding: 2rem 0rem;
    background-color: mediumslateblue;
    text-align: center;
    color: rgb(17, 2, 17);
    border-top-right-radius:1rem ;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer ul{
    scroll-padding-inline-start: 0px;
}



























body {
    color: rgb(4, 1, 7);
    margin: 0px;
}

h1 {
    color: brown;
}

h2 {
    color: darkblue;
}

#lib-title {
    color: rgb(8, 1, 7);
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bolder;
}