@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
body{
    font-family: 'Noto Sans KR';
}

:root{
    --primary-color:#065F46;
}



.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.container-center{
    max-width: 600px;
    margin: auto;

}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: yellowgreen;
    border-radius: 0.3rem;
    border:1px solid var(--primary-color)
}

.primary-link{
    color:var(--primary-color);
}
.secondary-link{
    color:var(--primary-color);
}





































body{
    color:blueviolet;
}

h1{
    color:brown;
}

h2{
    color:darkblue;
}

#lib-title{
    color:rgb(8, 1, 7);
}


